*.sw*
node_modules
namelen.html
social.html
tenpo.html
twtxt.txt
twtxt.html
profile.html
tildebrowser
package-lock.json
share
linkbot*
devnull
src/devnull.txt
/ilo
defaulttilde.html
world
lon.html
adventurer
wordle*
toki.html
