<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" href="[BASEPATH]assets/styles/main.css" />
    <title>[TITLE] | Dustin</title>
  </head>
  <body>
    <header>
      <a href="[BASEPATH]">~dustin</a>
      <a href="https://merveilles.town/@dstn" rel="me" target="_blank">mastodon</a>
      <a href="https://github.com/0xdstn" target="_blank">github</a>
    </header>
