<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="[BASEPATH]assets/styles/main.css?v=2" />
    <title>[TITLE] | Dustin</title>
  </head>
  <body>
    <header>
      <a href="[BASEPATH]">~dustin</a>
      <a href="[BASEPATH]now">now</a>
      <a href="https://github.com/0xdstn" target="_blank">github</a>
      <a href="mailto:0xdstn@protonmail.com">email</a>
      <a href="[BASEPATH]index.xml" target="_blank">rss</a>
    </header>
	<article>
