html, body { height: 100%; margin: 0; padding: 0; width: 100%; }
body { background: #efefef; font-family: monospace; font-size: 17px; }
body { box-sizing: border-box; padding: 1em; }

h1 { font-weight: 400; }
a { color: #00aaee; padding-bottom: 2px; display: inline-block; font-weight: bold; position: relative; text-decoration: none; transition: color 0.3s; }
a:before { background: #00aaee; content: ""; display: block; position: absolute; bottom: 0px; height: 2px; width: 0px; transition: all 0.3s; }
a:hover { color: #000; }
a:hover:before { width: 100%; }
img { display: block; max-width: 800px; margin-bottom: 2em; width: 100%; }
p, li { line-height: 1.5em; }
ul, ol { margin-bottom: 2em; padding: 0; }
li{ margin-bottom: .5em; }
ol { margin-left: 1em; }
ul li { list-style: disc; margin-left: 1.2em; }
ol li { list-style: decimal-leading-zero; margin-left: 1.75em; }

blockquote { border-left: solid 3px #00aaee; font-size: 1.3em; padding: 1em 0 1em 1em; margin: 0 0 1.5em; }
code { background: #000; border-radius: 4px; color: #fff; padding: 0.15em 0.5em; }
pre { background: #ddd; border-bottom: solid 3px #00aaee; margin-bottom: 1.5em; padding: 1em; line-height: 1.5em; overflow-x: auto; }

footer .webring { height: 40px; width: 40px; }
footer .webring #black { display: none; }

@media (prefers-color-scheme: dark) {
    body { background: #1a1a1a; color: #efefef; }
    a:hover { color: #fff; }
    code { background: #444; color: #fff; }
    pre { background: #333; color: #fff; }
    footer .webring #black { display: none; }
    footer .webring #white { display: block; }
}
